.pet-card {
  width: 250px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pet-card:hover {
  transform: translateY(-5px);
}

.pet-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.pet-details {
  padding: 1rem;
}

.pet-name {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase; /* Pet name should be capitalized */
  margin: 10px 0;
}

.pet-details p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.adopt-btn {
  background-color: #3b82f6;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.adopt-btn:hover {
  background-color: #357ABD;
}

.image-container {
  position: relative;
}

.verified-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: red;
  color: white;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 5px;
  font-weight: bold;
  cursor: help;
}
